<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>preview</key>
		<string></string>
		<key>title</key>
		<string>英语</string>
		<key>lessons</key>
		<array>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>雪梨老师</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1RydxEOjwB6NL73zVmIGclA?pwd=iqu6</string>
				<key>desc</key>
				<string>1.  自然拼读+音标+发音规则\n2.  新概念1\n3.  新概念2\n4.  初级英语语法课\n5.  中高级英语语法课(新课首发)\n6.  绘本口语跟读6部</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>斑马（百科、英语、思维）</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1R8Zo9E9D9XCXy0OvMY7kuA?pwd=xj66</string>
				<key>desc</key>
				<string>【600G】斑马（百科、英语、思维）+乐乐课堂大合集（小学到高中）</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>英语动画大合集</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1cofjsHi17PP9G47V8Th_8A?pwd=6wit</string>
				<key>desc</key>
				<string>适合0基础英语启蒙的动画， big muzzy, 蓝色小考拉， yakke dee...</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>Miya(付付)老师拼读课程</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1-0q1aRTt9Zp_WA6Ry5dP9A?pwd=un92</string>
				<key>desc</key>
				<string>拼读课程【完结】Oxford Phonics World 牛津自然拼读世界-付付老师配套课程【1-5级别 329课 视频】精品</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>Numberblocks</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1XsiJ3qnunlDGsrBS_sikoQ?pwd=fc5b</string>
				<key>desc</key>
				<string>Numberblocks第六季，视频+音频，数学英语启蒙动画</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>小猪佩奇</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1VeRqUoioLFXp5NqfLuHByw?pwd=4321</string>
				<key>desc</key>
				<string>小猪佩奇英文版1-9季 \n中文版1-7季\n加拿大外教精讲小猪佩奇视频 167集\n小猪佩奇过大年大电影\n英文童谣儿歌全集 16首\n趣味练习册（绘本、单词书、趣味练习册、填色图），一步到位</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>WOW English</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1afnhZQQKh9YOyHiplNajGw?pwd=qpv9</string>
				<key>desc</key>
				<string>《WOW English TV》1-9季高清</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>英语动画大合集</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1wlCvVTv72fR3tiRLj_Ytkw?pwd=zn2u</string>
				<key>desc</key>
				<string>包含3-15岁孩子适合看的，108部动画电影，零基础启蒙动画，新概念动画，汪汪队小猪佩奇羊驼拉玛......</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>Emily老师</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1ZaxQ6zdMtcaNHwynCAwuBQ?pwd=im2q</string>
				<key>desc</key>
				<string>零基础英语:字母+音标+自然拼读+口语发音。\n\n   -  字母\n   -  音标\n   -  自然拼读\n   -  口语</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>Sam老师</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1hDv36sTidPbVg1ZebQCpOw?pwd=g47j</string>
				<key>desc</key>
				<string>Sam老师的课程包括超级单词，26个字母单词拆分宝典，超级阅读及拼读+语法+音标，给自家孩子找的课程需要的家长自取。</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>傲游猫</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1P9pOtfaV_JbXBC8ijW5dfw?pwd=jfmn</string>
				<key>desc</key>
				<string>幼儿英语分级阅读-36册</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>剑桥国际少儿英语</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1nmwqcZTR2wcPVLX2D3tytA?pwd=6666</string>
				<key>desc</key>
				<string>Kid&apos;s Box 剑桥国际少儿英语 (第二版）0-6 （from starter to level 6） 全套资源\n每级别包括：教师用书、学生用书、练习册、闪卡、音频、视频和教师课件</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>牛津图解词典</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/12vm4vzahBFTfoOits5wb2g?pwd=7mh1</string>
				<key>desc</key>
				<string>Oxford Picture Dictionary 中英+英文。\n\n   -  PDF\n   -  音频\n   -  视频</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>自然拼读记单词一本通</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1qKQt-wE0zFemepKbxF5VYg?pwd=g6qm</string>
				<key>desc</key>
				<string>斗半匠小学英语自然拼读记单词一本通，汇总了常见的130多条自然拼读规则，包含800+常用词汇。\n每页一个字母发音规则，通过口诀记字母发音规律，通过规则记对应单词。</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>Power Up</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1E7R1MpZTjjcVSMCVVCxtKQ?pwd=9jfp</string>
				<key>desc</key>
				<string>全套的外教power up 课程，有1-3个级别，课程内容包括课本讲解和活动用书讲解，跟着走，不费妈。\n发音标准，老师很有趣，经常逗得孩子哈哈大笑。\n容易坚持。自己买书就可以在家学习。课程安排的也很合理，基本时长在20-30分钟左右。视频很高清，不模糊，声音也合适。没有杂音。</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>100个亲子情境英语</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1JIznQko0woUUUSaQ-6AivA?pwd=johi</string>
				<key>desc</key>
				<string>100个亲子情境英语 (图片,视频,音频)</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>蓝色小考拉</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1KHTvp8-BWR_9h09qa8Hmlg?pwd=3w5a</string>
				<key>desc</key>
				<string>启蒙“前辈们”会花2个月陪孩子细啃！！\nBBC必看动画！\n视频+中文+英文+绘本+课程大集合！\n低幼的福音！</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>跟小小孩说英语</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1jDURQQFOwNXTKClD9GaPRQ?pwd=fe73</string>
				<key>desc</key>
				<string> 跟小小孩说英语大全集合 1-6视频+音频+书PDF</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>preview</key>
		<string></string>
		<key>title</key>
		<string>数学</string>
		<key>lessons</key>
		<array>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>思维创新大通关</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1Q8S8MKkPN80jYfTDEh_cag?pwd=nedz</string>
				<key>desc</key>
				<string>学而思1-6年级思维创新大通关。\n大白本，奥数天花板\n\n   -  视频教学讲解\n   -  PDF 高清打印</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>高斯爱学习思维突破</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1RFrah_H2WOjAMVdVgocdIA?pwd=9qm7</string>
				<key>desc</key>
				<string>高斯爱学习思维突破奥数1-6阶四季版是一套专为培养青少年数学思维能力而设计的奥数教材。\n\n   -  PPT课程讲解\n   -  PDF 高清打印</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>斗半匠数学母题</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1a55D-Ayf4IMut-FgtcAXAw?pwd=oa2y</string>
				<key>desc</key>
				<string>斗半匠数学母题解题大招举一反三一题多解。\n   -  1-6年级全。\n   -  PDF 高清打印</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>小学华罗庚杯真题与答案</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1S1_JluQuOmkNHZqEV2niZQ?pwd=g7b8</string>
				<key>desc</key>
				<string>小学华罗庚杯真题与答案</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>preview</key>
		<string></string>
		<key>title</key>
		<string>语文</string>
		<key>lessons</key>
		<array>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>馒头大语文伴读</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/12cZJFUPYBalhsuuilWVTxA?pwd=5rer</string>
				<key>desc</key>
				<string>馒头大语文‌是针对小学1-6年级学生设计的语文伴读音频课程，以部编版教材为基础，通过拓展课文背景知识、历史典故和趣味故事，帮助学生提升语文素养。‌</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>曲小奇爆笑大语文</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1mnT59u-AY-qq0WhFqIINdQ?pwd=osv6</string>
				<key>desc</key>
				<string>喜马拉雅亿次播放音频 \n\n 全网第一套配套统编版新教材的趣味音频课\n\n曲小奇爆笑大语文 \n\n 1年级-6年级, 4~9岁的小朋友都可以听。</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>梓墨语文</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1HZzoY_DnUrYXpGl4A3HCkg?pwd=d99y</string>
				<key>desc</key>
				<string>梓墨语文， 全套视频 + 教材</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>学而思小学语文</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1mnT59u-AY-qq0WhFqIINdQ?pwd=osv6</string>
				<key>desc</key>
				<string>视频课，全套：\n\n   -  阅读理解大通关\n   -  写作大通关</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>学而思语文大阅读</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1f9Ztk5Ar0w__Jf5orpj5bw?pwd=5n5s</string>
				<key>desc</key>
				<string>一共6个级别，每个级别10几本书。每个级别三个目录，资料就是 PDF版书，伴读和精讲就是老师带着一个个章节的过，讲解大意。</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>叫叫阅读</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1A8Mn070jDff1yz1cSr2l8w?pwd=s0d5</string>
				<key>desc</key>
				<string>大语文启蒙+幼小衔接。\n\n   -  L1拼音\n   -  L2识字\n   -  L3阅读\n   -  L4阅读\n   -  L5阅读\n   -  ...</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>preview</key>
		<string></string>
		<key>title</key>
		<string>其他</string>
		<key>lessons</key>
		<array>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>WonderBlocks</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1Bmu7IU1HkrKnt1om9Nttlg?pwd=TXYE</string>
				<key>desc</key>
				<string> BBC出品WonderBlocks，儿童编程启蒙英文动画，2025年1月上架，持续更新中……</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>清华附小视频动画</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1edAfnnwRb_C74BdI12slBA?pwd=7x6m</string>
				<key>desc</key>
				<string>清华附小的语文+数学+英语，视频动画，全都齐了，而且还有其他资源共14个文件夹，MP4直接播放</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>小灯塔</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1hFPkLw44EH0yPt0cYfka6w?pwd=cwq2</string>
				<key>desc</key>
				<string>史上最全小灯塔系列，共47个类别：\n\n   -  中华名人故事\n   -  海洋科普课\n   -  动物冒险王国\n   -  走进美国\n   -  探秘恐龙世界\n   -  天才发明家\n   -  ...</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>小熊美术</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1jBso7XMdBI13AberjurVtA?pwd=fdgh</string>
				<key>desc</key>
				<string>用画画认识世界\n\n   -  S1 涂鸦（3-4岁）\n   -  S2 启蒙（5-6）\n   -  S3 中阶（7-8岁）</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>萝卜正姿</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1jQZHyviqmqQoNNltUxRS6Q?pwd=ggdm</string>
				<key>desc</key>
				<string>萝卜正姿练字课程资源，欲练字先正姿，姿正才能势正，提升空间才能完全打开！\n\n   -  电子字帖\n   -  百日打卡\n   -  五步练字法\n   -  ...</string>
			</dict>
			<dict>
				<key>free</key>
				<false/>
				<key>preview</key>
				<string></string>
				<key>title</key>
				<string>信奥联赛</string>
				<key>url</key>
				<string>https://pan.baidu.com/s/1q6oNRMq5NAoVbL-3keEX5Q?pwd=ciqu</string>
				<key>desc</key>
				<string>全国信奥联赛C++训练营96集\n\n分为4部分,从基础到高级\n\n包含课件和视频, 方便使用</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
